* {
    box-sizing:border-box;
}
body {
    background-color:rgba(10,0,255,.6);
    overflow:hidden;
    display:flex;
    flex-flow:row nowrap;
}
.fc {
    display: flex;
    flex-flow:row nowrap;
}

.header-content {
    max-height:20vh;
    max-width:50vw;
    flex-flow:column nowrap;
    align-content:flex-start;
}

div.myName {
    justify-content:center;
    align-content:flex-start;
    height:2rem;
}
h1.myName {
    font-weight:900;
    letter-spacing:.2em;
    margin:0;
    min-width:0;
    overflow:hidden;
    font-size:1.8rem;
    
}
.navDiv {
    justify-content:center;
    align-content:center;
}
.buttonBox {
    max-width:90%;
    min-width:40%;
    margin:10px;
    height:auto;
    justify-content:center;
}
div.buttonBox button{
    font-weight:900;
    background-color:rgba(80,100,180,.9);
    color:rgba(0,0,200,.8);
    
    width:6rem;
    text-align:center;
    font-size:min(1rem,90%);
    
}
div.buttonBox button:hover {
    background-color:rgba(255,255,255,.3);
    color:rgba(230,230,230,.9);

}

div.bio {
    height:60vh;
    width:60%;
    align-content:center;
    justify-content:center;
}
img.bio {
    max-height: 60vh;
}
div.details {
    width:25vw;
}
h2.title {
    font-weight:800;
    font-size:1.7rem;
    color:rgb(230, 230, 230);
}
div.focus {
    max-height:60vh;
}
div.content {
    height:100vh;
    justify-content:space-around;
    align-content:flex-start;
    overflow:scroll;
    flex-flow:row wrap;
    
    
}
img.content {
    box-sizing:content-box;
    background: radial-gradient(circle,rgba(255,0,0,0),rgba(255,255,255,.7));
    border:3px solid white;
    border-radius:6px;
    width:calc(100vw/6);
    margin:1%;
    padding:3%;
    flex: 0 1 20%;
}
p.description {
    overflow:scroll;
    max-height:40vh;
}
footer {
    justify-content:center;
    align-content:center;
}
footer div {
    margin-top:2%;
}
footer button {
    background-color:rgba(80,100,180,.9);
    color:rgba(0,0,200,.8);
    width:8rem;
    height:2rem;
    font-weight:900;
    font-size:min(1rem,90%);
}
footer button:hover {
    background-color:rgba(255,255,255,.3);
    color:rgba(230,230,230,.9);
}
::-webkit-scrollbar {
    width:max(.5rem,10px);
}
::-webkit-scrollbar-thumb {
 background:linear-gradient(0.4turn, rgba(0,0,180,.01), rgb(0, 0, 255), rgba(0,0,180,.01))   
}
::-webkit-scrollbar:hover {
    background-color:rgba(180,180,180,.3);
}
::-webkit-scrollbar-corner {
    background-color:rgba(0,0,0,0);
}